name: Weekly App Scraping

on:
  schedule:
    - cron: '0 0 * * 0' # سيتم التشغيل تلقائياً كل يوم أحد الساعة 12 ليلاً
  workflow_dispatch: # يتيح لك تشغيله يدوياً بضغطة زر من صفحة Actions

jobs:
  build:
    runs-on: ubuntu-latest
    # إعطاء صلاحية الكتابة للمستودع لرفع ملف الـ JSON
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Run Scraper
        run: python weakly_scraping_apps.py # تأكد من أن هذا هو اسم ملف البايثون

      - name: Commit and Push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add apps_data.json
          # التأكد من وجود تغييرات قبل عمل Commit لتجنب الخطأ
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update Apps Data: $(date)" && git push)
